google-api-python-client
jsonlines
lm_dataformat
mesh-tensorflow==0.1.18
numpy
oauth2client
ortools
pytest
sacred
tensorflow
tensorflow-datasets==3.2.1
tokenizers
transformers
tpunicorn
absl-py
ftfy
sacred
pymongo
